@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="jumbotron">
    <div class="card bg-dark text-white">
        <img src="~/Content/img/Listas03.jpg" class="card-img" alt="">
        <div class="card-img-overlay m-2">
            <h2 class="card-title text-center ">Acerca de</h2>
        </div>
    </div>

    <p class="m-4 text-justify">
        El mundo de los negocios actualmente se mueve en función de una serie de reuniones y eventos que permiten a los empresarios conectarse
        con personas expertas o desarrollar sus ideas creativas con un panorama más claro de lo que desea emprender. Para facilitar este proceso
        de promoción de oportunidades se crean hoy en día los sitios web de eventos.
    </p>
    <p class="m-4 text-justify">
        En este sitio web de eventos pretendemos facilitar la promoción de actividades de carácter social, aumentando la visibilidad en la Web y 
        captando así un interés mayor por parte de los internautas.
    </p>
    <p class="m-4 text-justify">
        La finalidad de este sitio es la de impulsar una actividad determinada, ya sean reuniones, fiestas, foros, conferencias, entre otros eventos.
        Aqui los interesados pueden obtener información valiosa acerca de lo que trata el evento y contactar directamente con los organizadores, 
        para obtener información más detallada.
    </p>
        

        

       
    


</div>


