@{
    ViewBag.Title = "Inicio";
}

<div class=" contenedor">

    <div class="card bg-dark text-white">
        <img src="~/Content/img/Eventos02.jpg" class="card-img" alt="">
        <div class="card-img-overlay m-4">

            <h1 class="display-3 font-weight-bolder">EVENTOS</h1>
            <p class="lead font-italic font-weight-normal m-4">En este sitio podremos añadir la información de algunas ciudades para que a su vez puedan ser asignadas a los detalles en una agenda para un próximo evento.</p>
            <p class="text-center"><a href="@Url.Action("About","Home")" class="btn btn-light btn-lg m-4">Acerca de nosotros...</a></p>

        </div>
    </div>


    @*<div class="jumbotron">



            <h1 class="display-3 font-weight-bolder">EVENTOS</h1>
            <p class="lead font-italic text-center">En este sitio podremos añadir la información de algunas ciudades para que a su vez puedan ser asignadas a los detalles en una agenda para un próximo evento.</p>
            <p class="text-center"><a href="@Url.Action("About","Home")" class="btn btn-outline-secondary btn-lg">Acerca de nosotros...</a></p>

            <img src="~/Content/img/Eventos01.jpg" alt="" class="imagen" />

        </div>*@

    @*<div class="row justify-content-between">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@

    <div class="jumbotron my-4">

        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card bg-dark text-white">
                    <img src="~/Content/img/Conciertos02.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center font-weight-bold">CONCIERTOS</h4>
                        <p class="card-text text-center">Conciertos, Festivales, Shows. Nacionales e Internacionales.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-dark text-white">
                    <img src="~/Content/img/Gastronomicos02.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center font-weight-bold">GASTRONÓMICOS</h4>
                        <p class="card-text text-center">Eventos Gastronómicos Regionales, Nacionales e Internacionales.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-dark text-white">
                    <img src="~/Content/img/Fiestas02.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center font-weight-bold">FIESTAS</h4>
                        <p class="card-text text-center">Graduaciones, Bodas, Cumpleaños, Fin de Año.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-dark text-white">
                    <img src="~/Content/img/Foros02.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center font-weight-bold">FOROS</h4>
                        <p class="card-text text-center">Foros, Conferencias, Congresos, Cumbres, Convenciones.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-dark text-white">
                    <img src="~/Content/img/Deportivos01.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center font-weight-bold">DEPORTIVOS</h4>
                        <p class="card-text text-center">Eventos Deportivos Nacionales e Internacionales.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card bg-dark text-white">
                    <img src="~/Content/img/Teatrales01.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center font-weight-bold">CULTURALES</h4>
                        <p class="card-text text-center">Obras Teatrales, Muestras de Arte, Concursos, Ferias.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    


</div>


